<{include file="theme:header_tpl.html" title_img="user_add"}>
<div class="contents_c">

<{yb_display_validate_errors errors=$validate_errors}>

<form action="<{yb_xhwlay_url mdl=user}>" method="POST">
<{$form.html.hidden}>
<table class="formtable">
	<thead>
		<tr>
			<th colspan="2"><{t}>new user<{/t}></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<th align="right"><{t}>name<{/t}></th>
		<td align="left">
			<input type="text" name="name" value="<{$form.html.name}>" size="32" /><{$form.html.required_mark|smarty:nodefaults}><br />
			<span style="color: red;"><{t}>You can use ONLY next characters as user name : <br />Alphabet, Numbers, '_'(under score), '-'(hyphen), '.'(dot)<{/t}></span>
		</td>
	</tr>
	<tr>
		<th align="right"><{t}>mail address<{/t}></th>
		<td align="left"><input type="text" name="mail" value="<{$form.html.mail}>" size="48" /><{$form.html.required_mark|smarty:nodefaults}></td>
	</tr>
	<tr>
		<th align="right"><{t}>password<{/t}></th>
		<td align="left">
			<input type="password" name="password" value="<{$form.html.password}>" size="32" /><{$form.html.required_mark|smarty:nodefaults}><br />
		</td>
	</tr>
	<tr>
		<th align="right"><{t}>status<{/t}></th>
		<td align="left">
			<{assign var='statuses' value=$form.html.status }>
			<{section name=idx loop=$statuses}>
				<input name="status" value="<{$statuses[idx].value}>" type="radio" id="<{$statuses[idx].id}>" <{if $statuses[idx].checked}>checked="checked"<{/if}> />
				<label for="<{$statuses[idx].id}>"><{$statuses[idx].label}></label><br />
			<{/section}>
			<span style="color: red; font-weight: bold; font-size: small;">
			NOTE1 : <{t}>You can't disable your self.<{/t}><br />
			NOTE2 : <{t}>There must be 1 valid system administrator at least.<{/t}>
			</span>
		</td>
	</tr>
	<tr>
		<th align="right"><{t}>role<{/t}></th>
		<td align="left">
			<{assign var='roles' value=$form.html.role }>
			<{section name=idx loop=$roles}>
				<input name="<{$roles[idx].name}>" type="checkbox" value="1" id="<{$roles[idx].id}>" <{if $roles[idx].checked}>checked="checked"<{/if}> />
				<label for="<{$roles[idx].id}>"><{$roles[idx].label}></label><br />
			<{/section}>
			<span style="color: red; font-weight: bold; font-size: small;">
			NOTE : <{t}>There must be 1 system administrator at least.<{/t}>
			</span>
		</td>
	</tr>
	<tfoot>
		<tr>
			<th colspan="2">
				<input type="submit" name="_event_onCreate_Confirm" value="<{t}>confirm<{/t}>" />&nbsp;
				<input type="reset" value="<{t}>reset<{/t}>" /><br />
				<font color="red">*</font><{t}>is required item.<{/t}>
			</th>
		</tr>
	</tfoot>
</table>

</form>

<br />
<a href="<{yb_xhwlay_url mdl=user _event_=onBackToList}>"><{t}>Cancel &amp; Back To List<{/t}></a>

</div>
<{include file="theme:footer_tpl.html"}>
