<{include file="theme:header_tpl.html" title_img="acl_edit"}>
<div class="contents_c">

<{yb_display_validate_errors errors=$validate_errors}>

<form action="<{yb_xhwlay_url mdl=acl}>" method="POST">
<table class="formtable">
	<thead>
		<tr>
			<th colspan="2"><{t}>detail<{/t}></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<th align="right"><{t}>name<{/t}></th>
		<td align="left"><{$form.html.name}></td>
	</tr>
	<tr>
		<th align="right"><{t}>policy<{/t}></th>
		<td align="left"><{$form.html.policy}></td>
	</tr>
	<tr>
		<th align="right"><{t}>users list<{/t}></th>
		<td align="left">
<table class="zebralist">
<tr>
	<th align="left" style="text-align: left;"><{t}>user<{/t}></th>
	<th><{t}>permission<{/t}></th>
	<th><{t}>remove<{/t}></th>
</tr>
<tr>
	<td class="odd" align="left"><{t}>Guest (NOT Logined) users only<{/t}></td>
	<td class="odd" align="left"><{$form.html.spuid.guest}></td>
	<td class="odd" align="left">-</td>
</tr>
<tr>
	<td class="even" align="left"><{t}>Logined users only<{/t}></td>
	<td class="even" align="left"><{$form.html.spuid.logined}></td>
	<td class="even" align="left">-</td>
</tr>
<{foreach from=$form.html.perms.user item=user_acl}>
<{cycle values="odd, even" assign=tmp_class}>
<tr>
	<td class="<{$tmp_class}>" align="left"><{$user_acl.name}></td>
	<td class="<{$tmp_class}>" align="left"><{yb_acl_perm_selectmenu name=$user_acl.select_name default=$user_acl.perm}></td>
	<td class="<{$tmp_class}>" align="left">
	<a href="<{yb_xhwlay_url mdl=acl _event_=onUserManager_Remove uid=$user_acl.id}>" class="iconlink"><{yb_icon icon=user_delete alt='remove' width=24 class='link' title='remove this user' }></a>
	</td>
</tr>
<{/foreach}>
</table>
		</td>
	</tr>
	<tr>
		<th align="right"><{t}>groups list<{/t}></th>
		<td align="left">
<table class="zebralist">
<tr>
	<th align="left" style="text-align: left;"><{t}>group<{/t}></th>
	<th><{t}>permission<{/t}></th>
</tr>
<{foreach from=$form.html.perms.group item=group_acl}>
<{cycle values="odd, even" assign=tmp_class}>
<tr>
	<td class="<{$tmp_class}>" align="left"><{$group_acl.name}></td>
	<td class="<{$tmp_class}>" align="left"><{$group_acl.perm}></td>
</tr>
<{/foreach}>
</table>
		</td>
	</tr>
	<tfoot>
		<tr>
			<th colspan="2">
				<input type="submit" name="_event_onUserManager_Update" value="<{t}>update<{/t}>" />&nbsp;
				<input type="submit" name="_event_onUserManager_BackTo" value="<{t}>back<{/t}>" />&nbsp;
				<input type="reset" value="<{t}>reset<{/t}>" />
			</th>
		</tr>
	</tfoot>
</table>
</form>
<br />
<hr />
<{yb_pager_slider_navi navi=$navi}>

<table class="zebralist" style="width: 100%">
<tr>
	<th align="left" style="text-align: left;">id</th>
	<th><{t}>name<{/t}>&nbsp;/&nbsp;<{t}>mail<{/t}><br /><{t}>status<{/t}>&nbsp;/&nbsp;<{t}>role<{/t}></th>
	<th><{t}>created at<{/t}><br><{t}>updated at<{/t}></th>
	<th><{t}>add user permission<{/t}></th>
</tr>
<{foreach from=$users item=user}>
<{cycle values="odd, even" assign=tmp_class}>
<form name="aclumul_<{$user.id}>" action="<{yb_xhwlay_url mdl=acl}>" method="POST">
<input type="hidden" name="uid" value="<{$user.id}>" />
<tr>
	<td class="<{$tmp_class}>" align="left"><{$user.id}></td>
	<td class="<{$tmp_class}>" align="left">
		<{$user.name}>&nbsp;/&nbsp;<{$user.mail}><br />
		<{if $user.status == constant('YB_USER_STATUS_OK')}>
			<span style="color: green; font-weight: bold;"><{t}>valid<{/t}></span>
		<{else}>
			<span style="color: red; font-weight: bold;"><{t}>invalid<{/t}></span>
		<{/if}>
		&nbsp;/&nbsp;
		<{foreach from=$roles_display_names key=k item=v}>
			<{if in_array($k, $user.role) }><{$v}><{/if}>
		<{/foreach}>
	</td>
	<td class="<{$tmp_class}>" align="left"><{$user.created_at|yb_strftime}><br><{$user.updated_at|yb_strftime}></td>
	<td class="<{$tmp_class}>" >
	<{yb_acl_perm_selectmenu name=perm}>
	<{yb_icon icon=user_add alt='add' width=24 class='link' title='add this user' }>&nbsp;
	<input type="submit" name="_event_onUserManager_Add" value="<{t}>append<{/t}>" />
	</td>
</tr>
</form>
<{/foreach}>
</table>

<{yb_pager_sort_limit_navi navi=$navi}>

</div>
<{include file="theme:footer_tpl.html"}>
